/*  your css code here. If applicable */
#main_con{
	padding:20px;
	background-color:#f5f5f5;
}
#test1,#test2{
	border-style:solid;
	border-width:;
	border-color:#f3f3f3;
	margin:15px;
	background-color:white;
	padding:10px;
}
#p2,#p4{
	text-align:right;
	font-style:italic;
}
h1{
	font-weight:800
}